{% extends 'base.html' %}
{% load static %}



{% block style %}

<link href="{% static 'assets/css/blog/style.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}

{% include 'blog_navbar.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home:home' %}">Anasayfa</a></li>
          <li>Blog</li>
        </ol>
        <h2>Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for blog in blogs %}
            <article class="entry">

              <div class="entry-img">
                <img src="{{blog.image.url}}" alt="{{blog.title}}" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{{blog.get_absolute_url}}">{{blog.user}}</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{blog.publishing_date}}</time></a></li>
                  <!-- <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> -->
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{blog.sub_content}}
                </p>
                <div class="read-more">
                  <a href="{{blog.get_absolute_url}}">Devamını okuyunuz...</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li class="disabled"><i class="icofont-rounded-left"></i></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Ara</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Kategoriler</h3>
              <div class="sidebar-item categories">
                <ul>
                  {% for category in categories %}
                  <li><a href="{{category.get_absolute_url}}">{{category.title}} <span>(25)</span></a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Yeni postlar</h3>
              <div class="sidebar-item recent-posts">
                {% for blog in recent_blogs %}
                <div class="post-item clearfix">
                  <img src="{{blog.image.url}}" alt="">
                  <h4><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h4>
                  <time datetime="2020-01-01">{{blog.publishing_date}}</time>
                </div>
                {% endfor %}
 

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  {% for tag in tags%}
                  <li><a href="{{tag.get_absolute_url}}">{{tag.title}}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

	{% endblock %}

  {% block main_javascript %}
  <script src="{% static 'assets/js/blog/main.js' %}"></script>
  
  {% endblock %}


