{% load static %}
 
 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo">
        <!-- <img src="{% static 'assets/img/sofistech.jpeg' %}"> -->
        <img src="{{setting.logo.url}}">
        <a href="{% url 'home:home' %}">Sofistech</a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'home:home' %}">Anasayfa</a></li>
          <li class="drop-down"><a href="">Kurumsal</a>
            <ul>
              <li><a href="#about">Hakkımızda</a></li>
              <li class="drop-down"><a href="#clients">İş Ortaklarımız</a>
                <ul>
                 {% for partner in partners %} 
                  <li><a href="#clients">{{partner.title}}</a></li>
                 {% endfor %}
                </ul>
              </li>
            </ul>
          </li>
          <li class="drop-down"><a href="#services">Hizmetlerimiz</a>
            <ul>
             {% for service in services %} 
              <li><a href="{{service.get_absolute_url}}">{{service.title}}</a></li>
             {% endfor %}
            </ul>
          </li>
          <li class="drop-down"><a href="#solutions">Çözümlerimiz</a>
            <ul>
             {% for solution in solutions %} 
              <li><a href="{{solution.get_absolute_url}}">{{solution.title}}</a></li>
             {% endfor %}
            </ul>
          </li>
          


          <li><a href="{% url 'blog:home' %}">Blog</a></li>

          
          <li><a href="#portfolio">Referanslar</a></li>
          <li><a href="#contact">İletişim</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="#about" class="get-started-btn scrollto">{{setting.get_startted}}</a> -->

    </div>
  </header><!-- End Header -->